// Place all the styles related to the customer/cart_products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-head {
	color: #583822;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: bold;
	font-size: 15px;
}

.table-product-name {
	color: #583822;
	font-family: 'M PLUS 1p', sans-serif;
	font-weight: bold;
	font-size: 15px;
	margin-left: 20px;
}


