<h1>会員一覧</h1>
<table class="table">
    <thead>
    <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
<% @customers.each do |customer| %>
    <tr>
        <td>
        <%= link_to  do %>
            <%= 
        <% end %>
        </td>
    </tr>
<% end %>