<table>
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>
	<tbody>
		<% genres.each do |g| %>
			<tr>
			　　<td><%= link_to customer_products_path(:product_genre_id => g.id) do %>
						<%= g.name %>
				    <% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
