
<div class="side-bar col-xs-2">
	<p class="bar0">ジャンル検索</p>

	<% genres.each do |g| %>
		<%= link_to customer_products_path(:product_genre_id => g.id) do %>
			<div class="bar1"><%= g.name %></div>
		<% end %>
	<% end %>
	<%#= render 'users/profile', user: @user %>
</div>


<!-- <table>
	<thead>
		<tr>
			<th>ジャンル検索</th>
		</tr>
	</thead>
	<tbody>
		<%# genres.each do |g| %>
			<tr>
			　　<td><%#= link_to customer_products_path(:product_genre_id => g.id) do %>
						<%#= g.name %>
				    <%# end %>
				</td>
			</tr>
		<%# end %>
	</tbody>
</table>
 -->
