<% if a.errors.any? %>
	<div>
	    <ul style="color: red">
	       <% a.errors.full_messages.each do |message| %>
	         <li>error : <%= message %></li>
	       <% end %>
	    </ul>
	</div>
<% end %>